body{
	font-family: "Trebuchet","Verdana", sans-serif;
	background-color: #2470ad;
	width: 500px
}
h1, h2 {
	color: #013220;
}

h1 {
	font-size:40pt;
}
strong {
	color: #ffbf29;
}
a {
	color: #ffbf29;
}

//гиперссылка отключаем подчеркивание

a, a: visited {
	text-decoration-style:none;
}

a: hover {
	text-decoration-style:underline;
}

p:first-letter {
	font-weight: bold;
	font-size: 150%;
}
