body {
    margin: 0;
    background-image: url(image/background.gif);
}

#container {
    border: 5px green solid;
    background-color: white;
    margin: 0 10%;
    background-repeat: repeat;
    box-sizing: border-box;
}

.entry {
    border: 5px blue solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    text-align: justify;
}

.date {
    border: 5px purple solid;
}

#header {
    border: 5px red solid;
}

#header h2 {
    border: 5px orange solid;
    float: right;
}

#header {
    overflow: hidden;
}

.entry img {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 100%;
}

.entry {
    overflow: hidden;
}

