body {
    margin: 0;
    background-image: url(image/background.gif);
}

#container {
    border: 10px solid white;
    background-color: white;
    margin: 0 10%;
    box-sizing: border-box;
}

.entry {
    border: 4px solid #C2E9E9;
    border-radius: 15px;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    text-align: justify;
}

.date {
    border-bottom: 2px dashed blue;
    border-top: none;
    border-left: none;
    border-right: none;
}

#header {
    background-color: #A8F0F0;
    border: none;
    text-align: right;
    overflow: hidden;
}

#header h2 {
    font-size: 14pt;
    border: none;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#header {
    overflow: hidden;
}

.entry img {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 100%;
}

.entry {
    overflow: hidden;
}
.footer-links {
    margin: 0 10%;
    padding: 10px 0;
}


